.ComponentFragmenting {
    border: 2px solid;
    padding: 35px;
    width: 75%;
}

.ParentWrapping, .NoParentWrapping, .tr {
    border: 2px solid;
}

.row {
    display: flex;
}

.ExampleCode {
    display: contents;
}