.ComponentFragmenting {
    border: 2px solid;
    padding: 35px;
    width: 85%;
}

.ParentWrapping {
    border: 2px solid;
}

.ImplimentationSection {
    display: flex;
    align-items: center;
}

.tableChild {
    display: flex;
    flex-direction: column;
    table, tr, td {
        border: 2px solid;
    }
    th {
        text-align: end;
    }
}

#state-check, #display-check{
    input {
        display: none!important;
    }
    font-weight: 500;
} 